/* 
Vincent Lee

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #282424  background
base01    #586e75  comments / secondary content
base1     #FFFFFF  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/
 figure.code pre { background-color: #282424 !important; }
.code { background-color: #282424; color: #FFFFFF !important; }
.code .c { color: #75FFA2 !important; } /* Comment */
.code .err { color: #FF0000 !important; } /* Error */
.code .g { color: #FFFFFF !important; } /* Generic */
.code .k { color: #A2C4FD !important; } /* Keyword */
.code .l { color: #FFFFFF !important; } /* Literal */
.code .n { color: #FF8000 !important; } /* Name */
.code .o { color: #FFFFFF !important; } /* Operator */
.code .x { color: #cb4b16 !important; } /* Other */
.code .p { color: #FFFFFF !important; } /* Punctuation */
.code .cm { color: #586e75 !important; } /* Comment.Multiline */
.code .cp { color: #859900 !important; } /* Comment.Preproc */
.code .c1 { color: #586e75 !important; } /* Comment.Single */
.code .cs { color: #859900 !important; } /* Comment.Special */
.code .gd { color: #2aa198 !important; } /* Generic.Deleted */
.code .ge { color: #FFFFFF; font-style: italic !important; } /* Generic.Emph */
.code .gr { color: #dc322f !important; } /* Generic.Error */
.code .gh { color: #cb4b16 !important; } /* Generic.Heading */
.code .gi { color: #859900 !important; } /* Generic.Inserted */
.code .go { color: #FFFFFF !important; } /* Generic.Output */
.code .gp { color: #FFFFFF !important; } /* Generic.Prompt */
.code .gs { color: #FFFFFF; font-weight: bold !important; } /* Generic.Strong */
.code .gu { color: #cb4b16 !important; } /* Generic.Subheading */
.code .gt { color: #FFFFFF !important; } /* Generic.Traceback */
.code .kc { color: #cb4b16 !important; } /* Keyword.Constant */
.code .kd { color: #268bd2 !important; } /* Keyword.Declaration */
.code .kn { color: #859900 !important; } /* Keyword.Namespace */
.code .kp { color: #859900 !important; } /* Keyword.Pseudo */
.code .kr { color: #268bd2 !important; } /* Keyword.Reserved */
.code .kt { color: #dc322f !important; } /* Keyword.Type */
.code .ld { color: #FFFFFF !important; } /* Literal.Date */
.code .m { color: #2aa198 !important; } /* Literal.Number */
.code .s { color: #00FF00 !important; } /* Literal.String */
.code .na { color: #FFFFFF !important; } /* Name.Attribute */
.code .nb { color: #FF80FF !important; } /* Name.Builtin */
.code .nc { color: #268bd2 !important; } /* Name.Class */
.code .no { color: #cb4b16 !important; } /* Name.Constant */
.code .nd { color: #268bd2 !important; } /* Name.Decorator */
.code .ni { color: #cb4b16 !important; } /* Name.Entity */
.code .ne { color: #cb4b16 !important; } /* Name.Exception */
.code .nf { color: #268bd2 !important; } /* Name.Function */
.code .nl { color: #FFFFFF !important; } /* Name.Label */
.code .nn { color: #FFFFFF !important; } /* Name.Namespace */
.code .nx { color: #FFFFFF !important; } /* Name.Other */
.code .py { color: #FFFFFF !important; } /* Name.Property */
.code .nt { color: #268bd2 !important; } /* Name.Tag */
.code .nv { color: #268bd2 !important; } /* Name.Variable */
.code .ow { color: #859900 !important; } /* Operator.Word */
.code .w { color: #FFFFFF !important; } /* Text.Whitespace */
.code .mf { color: #2aa198 !important; } /* Literal.Number.Float */
.code .mh { color: #2aa198 !important; } /* Literal.Number.Hex */
.code .mi { color: #2aa198 !important; } /* Literal.Number.Integer */
.code .mo { color: #2aa198 !important; } /* Literal.Number.Oct */
.code .sb { color: #586e75 !important; } /* Literal.String.Backtick */
.code .sc { color: #2aa198 !important; } /* Literal.String.Char */
.code .sd { color: #FFFFFF !important; } /* Literal.String.Doc */
.code .s2 { color: #2aa198 !important; } /* Literal.String.Double */
.code .se { color: #cb4b16 !important; } /* Literal.String.Escape */
.code .sh { color: #FFFFFF !important; } /* Literal.String.Heredoc */
.code .si { color: #2aa198 !important; } /* Literal.String.Interpol */
.code .sx { color: #2aa198 !important; } /* Literal.String.Other */
.code .sr { color: #dc322f !important; } /* Literal.String.Regex */
.code .s1 { color: #2aa198 !important; } /* Literal.String.Single */
.code .ss { color: #2aa198 !important; } /* Literal.String.Symbol */
.code .bp { color: #268bd2 !important; } /* Name.Builtin.Pseudo */
.code .vc { color: #268bd2 !important; } /* Name.Variable.Class */
.code .vg { color: #268bd2 !important; } /* Name.Variable.Global */
.code .vi { color: #268bd2 !important; } /* Name.Variable.Instance */
.code .il { color: #2aa198 !important; } /* Literal.Number.Integer.Long */
